:root{
    --bg-color-header: hsl(193, 100%, 96%);
    --bg-color-footer: hsl(192, 100%, 9%);
    --fc-color-body: hsl(208, 11%, 55%);
    --cta-color-pink: hsl(322, 100%, 66%);
    --fz-body: 18px;
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

/* Reset */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red
}

input, button, textarea, select {
  font: inherit;
}

button{
    cursor: pointer;
}

.d-flex{
    display: flex;
}

.d-grid{
    display: grid;
}

.col{
    flex-direction: column;
}

.container{
    padding: 5rem 3rem;
    width: 100vw;
}

body{
    font-size: var(--fz-body);
    font-family: var(--ff-body);
    place-items: center;
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
}

section p{
    color: var(--fc-color-body);
}

header{
    background: url(images/bg-hero-desktop.svg);
    background-color: var(--bg-color-header);
    padding-inline: 4rem;
    padding-block: 2rem 4rem;
}

.intro h1{
    margin-bottom: 1.5rem;
}

.intro button{
    margin-block: 2rem;
}

footer{
    background: var(--bg-color-footer);
    color: white;
    width: 100%;
    padding-inline: 5rem;
    padding-block: 7rem 3rem;
    font-size: 0.8rem;
    z-index: 1;
}

h1,h2{
    font-family: var(--ff-headings);
}

nav{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.logo{
    width: 10rem;
}

footer .logo{
    margin-bottom: 1.5rem;
}

.intro{
    justify-content: center;
    align-items: center;
}

.mockup{
    max-width: 45rem;
    margin-left: 3rem;
}

section{
    padding-block:3rem;
    padding-inline: 10rem 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: -1px -1px 41px 0px rgba(0, 0, 0, 0.21);
    justify-content: space-between;
    align-items: center;
}

section img{
    width: 25em;
    margin-left: 8rem;
}

.row-rev{
    flex-direction: row-reverse;
}

.row-rev img{
    margin-left:0;
    margin-right: 8rem;
}

header button{
    padding: 0.5rem 2rem ;
    border-radius: 2rem ;
    border: none;
    font-size: 0.7rem;
}

nav button{
    background-color: white;
}

nav button:hover{
    background-color: whitesmoke;
    color: rgb(63, 58, 58);
}

.cta{
    background: var(--cta-color-pink);
    color: white;
}
.cta:hover{
   background-color: hsl(322, 78%, 72%);
}

.section-z{
    padding-block: 2.5rem;
    padding-inline: 8rem;
    z-index: 2;
    margin-bottom: -4rem;
}

section:last-of-type .cta{
    border-radius: 1.5rem;
    border: none;
    padding: 0.7rem 4rem;
    margin-top: 1.5rem;
    font-size: 1rem;
}

footer ul {
    width: 20%;
    list-style-type: none;
}

ul a{
    text-decoration: none;
    color: inherit;
}

ul a:hover{
    border-bottom: 1px solid;
    transition: 0.5s;
}

ul li{
    margin-bottom: 1rem;
}

li img{
    height: 1rem;
    margin-right: 1.5rem ;
}

li i{
    margin-right: 0.8rem;   
}

.fa-brands:hover{
    color:var(--cta-color-pink);
    transition: 0.5s;
}

.icons a:hover{
    border: none;
}

footer div div{
    flex-direction: column;
    justify-content: space-between;
}


/* Responsiveness for Tablet */
@media screen and (max-width: 65rem) {

    body,footer, footer p{
        font-size: 0.8rem;
    }

    #copyright{
        font-size: 0.6rem;
    }
    
    header{
        background-image:url(images/bg-hero-mobile.svg) ;

    }

    .intro{
        flex-direction: column;
        text-align: center;
    }

    .mockup{
        max-width: 35rem;
    }

    .container{
        width: 50rem;
    }

    section, .row-rev, section:last-of-type{
        
        padding: 3rem;
        text-align: center;
    }

    section, .row-rev{
        flex-direction: column-reverse;
    }

    section img, .row-rev img{
        width: 25em;
        margin: 0;
        margin-block: 1rem ;
    }

    section:last-of-type{
        padding: 4rem;
    }

    section:last-of-type .cta{
    border-radius: 1.3rem;
    padding: 0.7rem 3rem;
    font-size: 0.8rem;
}

    footer{
        display: flex;
        flex-direction: column;
        padding-top: 15rem;
    }

    footer {
        padding: 1rem;
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
    }
    
    footer div:first-of-type{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    footer div div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    footer ul {
         width: 100%;
    }
}



/* Responsiveness for mobile */
@media screen and (max-width: 35rem) {
    
    header{
        background-image:url(images/bg-hero-mobile.svg) ;

    }

    .intro{
        flex-direction: column;
        text-align: center;
    }

    .mockup{
        max-width: 20rem;
    }

    .container{
        width: 30rem;
    }

    section, .row-rev, section:last-of-type{ 
        padding: 3rem;
        text-align: center;
    }

    section, .row-rev{
        flex-direction: column-reverse;
    }

    section img, .row-rev img{
        width: 15em;
        margin: 0;
        margin-block: 1rem ;
    }

    section:last-of-type .cta{
    border-radius: 1.3rem;
    padding: 0.7rem 2.5rem;
    font-size: 0.7rem;
}

    footer{
        display: flex;
        flex-direction: column;
        padding-top: 15rem;
    }

    footer {
        padding: 1rem;
        padding-top: 7rem;
        display: flex;
        flex-direction: column;
    }
    
    footer div:first-of-type{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

footer div div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    footer ul {
         width: 100%;
    }
}
